@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  src: url("../src/static/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../src/static/fonts/Satoshi-Regular.woff") format("woff");
}
@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  src: url("../src/static/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../src/static/fonts/Satoshi-Medium.woff") format("woff");
}
@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  src: url("../src/static/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../src/static/fonts/Satoshi-Bold.woff") format("woff");
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  visibility: visible;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
